body{
    margin:-10px;
}

#main-header{
    background-image: url("https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg");
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    min-height: 50vh;
}

#main-header ul{
    text-align: center;
}

#main-header li{
    display:inline;
    margin: 0 20px;
}

#main-header a{
    text-decoration: none;
    color: white;
}

#main-header a:hover{
    text-decoration:underline ;
    color:orange;
}

/* working on name section  of main header */

#name-section h1{
    color:white;
    text-align:center;
    margin-top: 100px;
    margin-left: 30px;
}

#name-section img{
    width: 20px;
    margin: -5px;
}

/* #name-section a:hover{
    box-shadow: black;
} */

/* working on profile pic of main header */

#profile-pic img{
    box-shadow: 0px 0px 5px 5px lightgray ;
    border-radius: 50%;
    margin-left:45%;
    margin-bottom: -100px;
    height: 100px;
    
}

/* Started working on Body sections start */

#about-section{
    margin: 100px 100px 0px 100px;
    color: grey;
    line-height: 25px;
    margin-bottom: 50px;
}

#about-section span{
    color:#2857a4;
    font-weight: bold;
    font-style: italic;
}

/* starting to work on body skills section */

#body-skills-section{
    background-color: lightgrey;
    width: 100%;
    height: auto;
}

#body-skills-section{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#skills-name{
    text-align: center;
    margin-top: 25px;
    padding-top:25px;
    font-size: 30px;
}

#skills-learnt{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.outer-tracker{
    margin: 50px 50px 50px 50px;
    border-color: white;
    border-style: solid;
    padding-right: 50px;
    border-radius: 10px;
    background-color: darkgray;
    /* box-shadow: 0 0 2px 2px; */
}

.percentage-tracker{
    background-color: aliceblue;
    padding-right: 50px;
}

.name-tracker{
    margin-left: 7px;
    margin-right: auto;
}

/* working on portfolio section */

#body-portfolio-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    max-width: 100vw;
    background-color: lightgrey;
}

#portfolio-name{
    text-align: center;
    margin-top: 25px;
    font-size: 30px;
}

#portfolio-icons{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-content: center;
    justify-content: center;
    
}

/* working on level one icons */

#level-one-icons{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-content: center;
    justify-content: center;
}

.green-computer img{
    width:300px;
}

/* working on level two icons */

#level-two-icons{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-content: center;
    justify-content: center;
}


.blue-computers img{
    width:300px;
    /* background-image: linear-gradient(red,blue); */
}

/* Working on contact section using the features of flex to bring them aligned */

#body-contact-section{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(#2857a4,#403066);
    padding-bottom:30px;
}

#input-get-in-touch{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: space-evenly;
}

/* Working on normal features in contact section */

#contact-section-name{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

 #input-part input ,textarea{
    background-color: #2857a4;
    margin:15px 10px 20px -10px;
    color: white;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-top:none ;
    border-left:none;
    border-right:none;
    /* padding-right: 100px;  */
    padding-right:20vw;
}

#input-part button{
    background-color: #2857a4;
    color: white;
    border-color: white;
    border-bottom-style: solid;
    /* padding:3px 30px; */
    
} 

/* #get-in-touch{

} */

#get-in-touch p{
    max-width: 500px;
}

/* working on Education section */
#education-section{

    min-width: 75%;
    min-height: 300px;
    margin-left:13%;
    margin-right: 13%;
   
}

#education-name{
    text-align:center;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#time-line{
    position:relative;
    min-height:300px;
   
    /* border-color: black;
    border-style:solid; */
}

.individual-boxes{
    position: relative;
    min-height:150px;
    max-height:50px;
    width:30%;
    /* border-width:2px;
    border-style: solid;
    border-color: black; */
    margin: 5px 0px;
    overflow:auto;
}

.individual-boxes:nth-child(2n){
    margin-left:60%;
}

.individual-boxes.individual-boxes:nth-child(2n+1){
    margin-left:5%;
}

#degree-name{
    text-align:right;
}

#degree-name img{
    position: absolute;
    top:10px;
    left:10px;
    max-width:40px;
}



